*~
*.[ao]


# auto generate files
Makefile
config.h
config.log
config.status
po/Makefile.in
po/POTFILES
posubst
scripts/dirlist.cgi
scripts/multipart/multipart.cgi
scripts/w3mhelp.cgi
scripts/w3mmail.cgi
scripts/w3mman/w3mman
scripts/w3mman/w3mman.1
scripts/w3mman/w3mman2html.cgi
scripts/xface2xpm
version.c
w3mhelp-lynx_en.html
w3mhelp-lynx_ja.html
w3mhelp-w3m_en.html
w3mhelp-w3m_ja.html

funcname.*
funcname1.h
funcname2.h
functable.c
inflate
mktable
po/ja.gmo
po/stamp-po
scripts/w3mhelp-funcdesc-stamp
scripts/w3mhelp-funcdesc.en.pl
scripts/w3mhelp-funcdesc.ja.pl
scripts/w3mhelp-funcname.pl
tagtable.c
w3m
w3mbookmark
w3mhelperpanel
w3mimg/w3mimg.a
w3mimgdisplay